@use '~styles/mixins' as *;
@use '~styles/helpers' as *;
@use '~styles/colors' as *;
@use '~styles/paddings' as *;

.wrapper {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: size(259) repeat(2, size(275.5)) repeat(2, size(267));
  width: 100%;
  margin-top: size($spacing96);

  @include mobile {
    grid-template-columns: 1fr;
  }
}

.content {
  position: relative;
  background: url('/icons/dots.svg'), repeat;
  grid-column: span 4 / 6;
}
