@use '~styles/colors' as *;
@use '~styles/helpers' as *;
@use '~styles/mixins' as *;

.root {
  display: flex;
  align-items: flex-start;
  margin-bottom: size(74);

  @include mobile {
    flex-direction: column;
    margin-top: size(60);
    margin-bottom: size(60);
  }
}

.content {
  background-color: $gray900;

  @include mobile {
    padding-top: size(73);
  }
}

.left,
.right {
  @include mobile {
    width: 100%;
  }
}

.left {
  background-color: $gray900;

  flex-basis: size(551);

  @include mobile {
    flex-basis: unset;
  }
}

.right {
  position: relative;
  margin-top: size(97);

  flex-basis: size(534);

  &:after {
    content: '';
    position: absolute;
    top: 0px;
    right: -1px;
    width: 2px;
    height: 100%;
    background-color: $gray900;

    @include mobile {
      display: none;
    }
  }

  @include mobile {
    margin-top: 0;
    flex-basis: unset;
  }
}

.rightHeader {
  display: flex;

  & > div {
    flex-basis: size(259);
    background-color: $gray900;

    @include mobile {
      flex-basis: 50%;
    }
  }

  & > div:first-child {
    margin-top: size(30);
    flex-basis: size(275);

    @include mobile {
      flex-basis: 50%;
    }
  }
}

.box {
  &:not(:last-of-type) {
    margin-bottom: size(60);

    @include mobile {
      margin-bottom: size(20);
    }
  }
}
