@use '~styles/colors' as *;
@use '~styles/helpers' as *;
@use '~styles/typography' as *;
@use '~styles/mixins' as *;

.root {
  display: flex;
  align-items: flex-start;

  @include mobile {
    flex-direction: column;
    margin-bottom: size(60);
  }
}

.left,
.right {
  @include mobile {
    width: 100%;
  }
}

.left {
  @include flexBasisWithAdaptiveUnset(551);
}

.head {
  @include mobile {
    padding-bottom: size(60);
  }
}

.right {
  display: flex;
  align-items: flex-start;
  @include flexBasisWithAdaptiveUnset(534);
}

.box {
  position: relative;
  margin-top: size(275);
  background-color: $gray900;
  flex-basis: size(275);

  &:after {
    content: '';
    position: absolute;
    top: 0px;
    right: -1px;
    width: 2px;
    height: 100%;
    background-color: $gray900;

    @include mobile {
      display: none;
    }
  }

  &:last-of-type {
    margin-top: size(305);
    flex-basis: size(259);
  }

  @include mobile {
    margin-top: 0;
    padding-top: size(20);

    flex-basis: 50%;

    &:last-of-type {
      margin-top: 0;
      padding-top: size(70);

      flex-basis: 50%;
    }
  }
}

.text {
  padding: size(30) size(30) size(138);
  height: size(240);

  @include paragraph;

  @include mobile {
    margin-bottom: unset;
    max-height: size(180);
    padding: size(0) size(10) size(10);
    margin-bottom: 0px;
    height: initial;
  }
}

.space {
  margin-bottom: size(200);

  @include mobile {
    margin-bottom: size(60);
  }
}
