@use '~styles/colors' as *;
@use '~styles/helpers' as *;
@use '~styles/mixins' as *;
@use '~styles/typography' as *;

.root {
  display: flex;
  align-items: flex-start;
  padding-bottom: size(182);
  position: relative;

  @include mobile {
    flex-direction: column;
    padding-bottom: size(60);
    margin-top: 0;
  }
}

.heading {
  p {
    @include heading-04;

    @include mobile {
      @include small;
    }
  }
}

.left {
  display: flex;
  flex-direction: column;

  flex-basis: size(551);

  @include mobile {
    flex-basis: unset;

    width: 100%;
  }
}

.right {
  display: flex;
  flex-direction: column;

  flex-basis: size(534);

  padding-top: size(30);
  background-color: $gray900;

  @include mobile {
    padding-top: size(20);

    width: 100%;

    flex-basis: unset;
  }
}

.lottieWrapper {
  width: 100%;
  height: size(710);
  padding-bottom: size(30);

  @include mobile {
    height: size(470);
    margin-bottom: size(20);
    padding-bottom: size(15);
  }
}
